<!DOCTYPE html>
<html>
<head>
    <title>シフト</title>
</head>
<body>

<%= month_calendar events: @protest do |date, tasks| %>
<%= link_to "#{date.day}日", task_path(@protest2)%>
  <% tasks.each do |task| %>
    <div>
    <%="・#{task.nickname} #{task.intime}時~#{task.outtime}時"%>
    </div>
  <% end %>

<% end %>

</body>
</html>