<table>
  <tr>
    <th>日にち</th>
    <th>IN-OUT</th>
  </tr>
<% @protest.each do |task|%>
  <tr>
    <td><%="#{task.start_time.day}"%></td>
    <td><%= "#{task.intime}時〜#{task.outtime}時"%></td>
  </tr>  
 <%end %> 


</table>
