<div id="main_image">
 <div id="main_image_inner">
     <h1>SHIFTBOARD</h1>
 </div>
		</div>
		<main>
			<section id="section01">
			
				<nav>
					<ul id="main_nav">
						<li><a href="#">シフト表<br>閲覧</a></li>
						<li><a href="#">掲示板<br>投稿</a></li>
						<li><a href="#">シフト<br>提出</a></li>
					</ul>
				</nav>
			</section>
		</main>

<div class="comment_top">
    <div class="h5">〜お知らせ〜</div>
      <ul class="comment_main">
      <li class="comment_sub">ここに投稿データーを載せる</li>
      <li class="comment_sub">ここに投稿データーを載せる</li>
      <li class="comment_sub">ここに投稿データーを載せる</li>
    </ul>
</div>