<div id="main_image">
 <div id="main_image_inner">
     <h1>ShiftBoard</h1>
     



 </div>
		</div>


<div class="comment_top">
    <div class="title3">~お知らせ~</div> 
	 <% @tweet.each do |tweet|%>
	<%= link_to tweet_path(tweet.id) do %>
	   <ul class="comment_main">
         ・<%= tweet.title%>
				 
    </ul>
		<%end%>
	 <%end%>
	 	 <%= paginate @tweet %>

</div>