<div id="main_image">
 <div id="main_image_inner">
     <h1>SHIFTBOARD</h1>
 </div>
		</div>
		<main>
			<section id="section01">
			
				<nav>
					<ul id="main_nav">
						<li><a href="#">シフト表<br>閲覧</a></li>
						<li><%= link_to "掲示板投稿", new_tweet_path %></li>
						<li><a href="#">シフト<br>提出</a></li>
					</ul>
				</nav>
			</section>
		</main>

<div class="comment_top">
    <div class="title">〜お知らせ〜</div>
	 <% @tweet.each do |tweet|%>
	<%= link_to tweet_path(tweet.id) do %>
	   <ul class="comment_main">
         ・<%= tweet.title%>
    </ul>
		<%end%>
	 <%end%>
</div>