<div class="contents row">
  <div class="container">
         <%= form_with(model: @tweet, local: true) do |form| %>
     <%= render 'layouts/error_messages', model: form.object %>
<%end%>
    <h3>新規投稿</h3>
    <%= render partial: "form", locals: { tweet: @tweet } %>

  </div>
</div>