<div class = "nested-fields">
    <div class="fields">
  <strong>日:</strong>
    <%= f.date_field :start_time ,class:"nickname1" %>
  <strong>IN:</strong>
    <%= f.time_field :intime ,class:"nickname1" %>
  <strong>OUT:</strong>
    <%= f.time_field :outtime ,class:"nickname1" %>
  </div>

  <%= link_to_remove_association "削除", f ,class:"delete1"%>