.nickname1{
  width: 25%;
  margin: 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
.nickname2{
  width: 30%;
  margin: 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.fields{
  display: flex;
  margin: 15px;
}

.delete1{
  margin: 15px;
}

.add1{
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 17px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  margin: 20px;
}
.add1:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  transition: .2s;
}

.add1:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.title2{
  position: relative;
  display: inline-block;
  padding: 0 55px;
  font-size: 20px;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
}


 .btn5{
  margin: 10px;
  padding: 10px;
  font-family: "游ゴシック", "YuGothic";
  border-radius: 20px;
  border: 0;
}

.btn10{
  width: 30%;
  margin: 15px;
}

